* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.flex-evenly {
  justify-content: space-evenly;
}
.flex-gap-small {
  gap: 0.5rem;
}
.flex-gap-1 {
  gap: 1rem;
}
.min-w-100 {
  min-width: 100%;
  flex-basis: 100%;
}
.w-50-pad {
  width: calc(50% - 0.5rem);
}
body {
  background-color: rgba(213, 213, 213, 0.5);
}
