.main {
  position: relative;
  display: flex;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  max-width: 1220px;
  margin: auto;

  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.main > div {
  width: calc(50% - 2.5rem);
  padding: 1rem;
}
